<div class="container">
    <h1>Calendario tecnico</h1>
    <div class="row">
        <div class="col-sm-4 col-xs-5">
            <div class="btn-group">
                <button (click)="this.previousMonth()" type="button" class="btn btn-light">&lt;</button>
                <button (click)="this.nextMonth()" type="button" class="btn btn-light">&gt;</button>
            </div>
            <div class="btn-group">
            <button (click)="this.getToday()" type="button" class="btn btn-light" title="Hoy">
                Hoy
            </button>
            </div>
        </div>
    
        <div class="col-sm-4 col-xs-7">
            <h4>{{ this.months[this.month] + ' ' + this.year }}</h4>
        </div>
    </div>
    
    <div style="overflow-x:auto;height:700px;">
        <table class="table table-striped-columns" style="table-layout: fixed;">
            <thead>
                <tr>
                    <th style="width: 150px;">Personal</th>
                    <th *ngFor="let dia of dias">{{dia + 1}}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let persona of personal">
                    <td>{{persona.name}}</td>
                    <td *ngFor="let dia of persona.day">
                        <app-eventday [dia]="dia"></app-eventday>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>